<template> class="registro-cliente">
    <form class="custom-form" >
      <h1>Cliente</h1>
      <input
        type="text"
        name="cedula"
        placeholder="Cedula/NIT"
        required
        [(ngModel)]="cedula"
      />
      <input
        type="text"
        name="nombre"
        placeholder="Nombre o razón social"
        required
        [(ngModel)]="nombre"
      />
      <input
        type="text"
        name="direccion"
        placeholder="Direccion"
        required
        [(ngModel)]="direccion"
      />
      <input
        type="text"
        name="estado"
        placeholder="Estado"
        required
        [(ngModel)]="estado"
      />
      <button type="submit" (click)="addClient()">Registrar</button>
    </form>
</template>